body {
            margin: 0;
            padding: 0;
            overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
        }

        /* Resto de tus estilos CSS */

        /* Estilos para pantallas más pequeñas (menos de 768px de ancho) */
        @media (max-width: 768px) {
            

            .background-image-text {
                top: 150px; /* Ajusta la posición vertical del texto para pantallas más pequeñas */
                font-size: 36px; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
            }

            /* Ajusta otros estilos para pantallas más pequeñas */
        }

        /* Estilos para pantallas aún más pequeñas (menos de 480px de ancho) */
        @media (max-width: 480px) {
            .background-image {
                height: 200px; /* Ajusta la altura de la imagen de fondo para pantallas muy pequeñas */
            }

            .background-image-text {
                top: 100px; /* Ajusta la posición vertical del texto para pantallas muy pequeñas */
                font-size: 24px; /* Ajusta el tamaño de fuente para pantallas muy pequeñas */
            }

            /* Ajusta otros estilos para pantallas muy pequeñas */
        }

        
.logo {
    position: absolute;
    top: 2%; 
    left: 3%; 
}

.logo img {
    width: 5%; 
    height: auto;
}



.background-image {
    background-image: url("../zapatillasfts/hola.jpeg");
    background-size: contain;
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center top;
    height: 60%; 
    position: absolute;
    top: 20%; 
    width: 100%;
    left: 0%;
    right: 0%;
    text-align: center; /*centrar el texto */
   
}

.background-image-text {
    position: absolute;
    top: 33%; 
    left: 20%; 
    color: rgb(5, 5, 5);
    font-size: 4vw; /* Tamaño de fuente en unidades de ancho de ventana (vw) */
}

.background-image img {
    position: absolute;
    top: 13%;
    left: 55%;
    right: 20%; /* Ajusta la posición horizontal  */
    width: 40%; /* Ajusta el ancho de la imagen  */
    height: auto;
}
#barra-navegacion {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    position: absolute;
    top: 13%; /* Ajusta la posición vertical para que esté debajo del logo */
    left: 0;
    right: 0;
}

#barra-navegacion ul{
    list-style : none;
    padding: 0;
    margin : 0;
    display : flex;
}

#barra-navegacion li {
    padding : 15px 20px ;
    color:#fff;
}

#barra-navegacion li:hover{
    background-color: #555;
    cursor: pointer;
}

#barra-navegacion .submenu {
        display: none;
        position: absolute;
        background-color : #333;
        width: 200 px;
}

#barra-navegacion .submenu li{
        padding: 10px;
}

#barra-navegacion .submenu li:hover {
    background-color :#000000;
}
.samba-img {
    width: 38%; 
    height: auto; 
    position: absolute; 
    top: 86%; 
    left: 5%; 
}


  
.vans-img {
    width: 22%; 
    height: auto; 
    position: absolute; 
    top: 86%; 
    left: 70%; 
}
.nikes-img {
    width: 21%; 
    height: auto; 
    position: absolute; 
    top:86% ;
    left: 46%; 
}

.new-img {
    width: 48%; 
    height: auto; 
    position: absolute; 
    top: 136%; 
    left: 46%; 
}
.casilla-texto {
    position: absolute;
    top: 5%; 
    left: 10%; /* Centra horizontalmente  */
    
    padding: 1%;
    background-color: rgb(255, 247, 247);
}

.bienvenida {
    position: absolute;
    top: 6%; 
    right: 1%; 
    color: rgb(85, 85, 85);
    font-size: 1vw; /* Tamaño de fuente en unidades de ancho de ventana (vw) */
}
.imagen-contenedor {
    
    cursor: pointer;
   
}

.imagen {
    
    height: auto;
    transition: filter 0.3s;
}

.overlay {
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: rgb(0, 0, 0);
    font-size: 24px;
    text-align: center;
}


.imagen-contenedor:hover .imagen {
    filter: brightness(70%); /* Reduce el brilloo  */
}

.imagen-contenedor:hover .overlay {
    opacity: 1; /* superposición  */
}
.imagen-chica {
    width: 20%; 
    max-width: 100%; 
    display: block; 
    position: absolute;
    top:184%; 
    left: 11%; /
}
.imagen-niño {
    width: 22.5%; /* Puedes ajustar el tamaño de la imagen según tus preferencias */
    max-width: 100%; /* Evita que la imagen sea más grande que su contenedor */
    display: block; /* Elimina los espacios en blanco debajo de la imagen */
    position: absolute;
    top:184%; /* Distancia de 10px desde el borde inferior */
    left: 70%; /* Margen izquierdo de 10px */
}
.imagen-chico {
    width: 26%; 
    max-width: 100%; 
    display: block; 
    position: absolute;
    top:184%; 
    left: 37%; 
}
.imagen-chica:hover {
    filter: brightness(70%); /* Reduce el brillo */
    transform: scale(1.1); /* Hace que la imagen se agrande en un 10% al pasar el cursor por encima */
}

.imagen-chico:hover {
    filter: brightness(70%); /* Reduce el brillo */
    transform: scale(1.1); 
}

.imagen-niño:hover {
    filter: brightness(70%); 
    transform: scale(1.1); 
}

